<div class="flex flex-row z-50">
    <div class=" p-2 m-2 rounded-xl text-white flex flex-col md:w-1/5 w-4/6 bg-black" style="height: 98vh;" id="side" (mouseleave)="onMouseLeave()">
        <div class="flex-row flex justify-around border-b-2">
            <div>
                <img src="../../../assets/loginImage.png" class="rounded-full h-14 w-14">
            </div>
            <div class="flex flex-col justify-around items-center">
                <div class="font-bold">Product Manager</div>
                <div class="font-bold text-2xl mb-1
                ">Rithik Suthan</div>
            </div>
        </div>
        <div class="ml-4">
            <div class="flex font-bold text-lg text-center mt-4 items-center">
                <img src="../../../assets/homelogo.png" class="h-5 w-5">
                <span class="ml-3 cursor-pointer">Dashboard</span>
                </div>
                <div class="flex font-bold text-lg text-center mt-4 items-center">
                    <img src="../../../assets/signout.jpg" class="h-5 w-5">
                    <span class="ml-3 cursor-pointer" (click)="signOut()">Log Out</span>
                    </div>
        </div>
    
    </div>
    <div class="symbol" id="symbol" (mouseenter)="onMouseEnter()">☰</div>
</div>

