<div style="margin: 10%;width: 80%;height: fit-content;
background-color: #F9E6E6;padding: 5%;
" >
<div class="flex flex-row justify-between">
    <div style="color: #474BCA" class="font-semibold text-xl">Staff Sync</div>
        <div class="p-2 pl-5  h-auto flex rounded-md w-24" style="background-color: #474BCA; cursor: pointer;">
            <span style="color: white;">Sign up</span> 
        </div>
</div>
<div class="flex md:flex-row flex-col-reverse justify-around mt-6">
    <div class="md:w-2/4 w-full">
        <div class="font-bold text-2xl mt-4">Login Now</div>
        <div class="flex mt-5">Hi , Welcome Back &nbsp; <img src="../../../assets/waivinghand.png"
            alt="waiving Hand" style="width: 20px;">
        </div>
        <div class="mt-4">
            <div class="md:w-4/5 w-full h-auto flex justify-center p-2" style="background-color: #FFA3BE; cursor: pointer;">
                <img src="../../../assets/google.png" alt="mangement image" style="width:20px; height: 20px;" class="mt-1">
                &nbsp;
                Login with Google 
            </div>
        </div>
        <div>
            
        </div>
    </div>

    <div class="md:w-2/4 w-full flex items-center sm:mt-5">
        <img src="../../../assets/loginImage.png" alt="mangement image" class="w-full">
    </div>
</div>
</div>