.card-container {
    background-color: white;
    top: 8%;
    z-index: 50;
    width: 80%;
    border-radius: 20px;
    position: fixed;
    left: 8%;
    padding: 12%;
    font-size: 2rem; /* Adjust as needed */
    overflow-y: auto;
}