<div class="bg-white rounded-xl flex w-5/6 flex-col mt-4 text-black
h-fit-content p-5 cursor-pointer ml-2
">
<div class="flex flex-wrap" style="white-space: normal;">
    {{cardData['description']}}
</div>

<div>
    {{cardData['workStatus']}}
</div>
<div class="flex justify-end flex-row">
    
    <img src="../../../assets/alert.png" class="cursor-pointer w-6 mr-2">
    <img src="../../../assets/start.png" class="cursor-pointer w-6 mr-2" (click)="updateWorkStatus(cardData,'Started')">
    <img src="../../../assets/completed.png" class="cursor-pointer w-6" (click)="updateWorkStatus(cardData,'Completed')">
</div>
</div>